@charset "utf-8";

/*修改标签*/
.change-bg{
	width:100%;
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	background: rgba(0,0,0,.4);
	z-index:1001;
}

/*修改标签*/
.change-biaoqian h1{
	padding:10px 0;
	margin:0;
	color: #1ABC9C;
}
.change-biaoqian{
	width:250px;
	height: 240px;
	margin:150px auto 0;
	padding:0 30px;
	border-radius: 30px;
	background: #fff;
}
.change-biaoqian input{
	width:250px;
	height: 32px;
	line-height: 32px;
	margin-bottom:20px;
	border:1px solid #cecece;
	border-radius: 40px;
	padding: 0 10px;
	font-size: 18px;
	display: inline-block;
	box-shadow:none;
}
.change-biaoqian input:focus{
	outline: none;
	border:1px solid #2ECD79;
	background: #FAFFBD;
}
.change-biaoqian button{
	width:250px;
	height: 36px;
	line-height: 36px;
	font-size: 22px;
	color: #fff;
	background: #1ABC9C;
	text-align: center;
	border-radius: 20px;
	border:1px solid #1ABC9C;
	opacity: 0.4;
	cursor: pointer;
	outline: none;
}
.change-biaoqian button:hover{
	opacity: 1;
}
/*淡入淡出动画*/
.change-bg.ng-hide-remove{
	-webkit-animation: 1.5s fade-in;
	-moz-animation: 1.5s fade-in;
	-o-animation: 1.5s fade-in;
	animation: 1.5s fade-in;
}
.change-bg.ng-hide-add{
	-webkit-animation: 1s fade-out;
	-moz-animation: 1s fade-out;
	-o-animation: 1s fade-out;
	animation: 1s fade-out;	
}