@charset "utf-8";

/*主体*/
.main{
	width:45.0rem;
	margin:3.0rem auto;
	height: auto;
	border-radius: 8px;
}
/*背景图*/
.background-img{
	width:100%;
	height: 100%;
	background-size: 100%;
	background-position: top left;
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
	z-index: -1;	
}

/*左下角播放器*/
.music-bofangqi{
	position: absolute;
	left:30px;
	bottom:30px;
	width:40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	background-image: url(../img/music-bg.png);
	background-size: 40px auto;
	cursor: pointer;
	display: none;
}
.music-icon{
	width:20px;
	height: 20px;
	margin:10px;
	background-image: url(../img/icon.png);
	background-size: 40px auto;
	background-position: -20px 0;
}

.music-xuanzhuan{
	animation:five 5s linear infinite;
	-webkit-animation:five 5s linear infinite;
	-moz-animation:five 5s linear infinite;
	-o-animation:five 5s linear infinite;	
}
.music-pause{
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
}
.music-guodu{
	animation: guodu 1s ease-in-out forwards;
	-moz-animation: guodu 1s ease-in-out forwards;
	-webkit-animation: guodu 1s ease-in-out forwards;	
	-o-animation: guodu 1s ease-in-out forwards;	
}
.music-back{
	animation: back 1s ease-in-out forwards;
	-moz-animation: back 1s ease-in-out forwards;
	-webkit-animation: back 1s ease-in-out forwards;	
	-o-animation: back 1s ease-in-out forwards;	
}
/*右下角风车*/
.fengche{
	position: absolute;
	bottom: 0;
	right:30px;
	height: 70px;
	overflow: hidden;
}
.fengche-main{
	position: relative;
	width:40px;
	height: 40px;
	top:0;
	left:0;
	z-index: 3;
	cursor: pointer;
	background-image: url(../img/icon.png);
	background-position: -40px -120px;
}
.fengche-rotate{
    animation:myfive 0.5s linear 3;
    -webkit-animation:myfive 0.5s linear 3;
    -moz-animation:myfive 0.5s linear 3;
    -o-animation:myfive 0.5s linear 3;
}
.fengche-gan{
	width: 5px;
    height: 43px;
    bottom: 13px;
    left: 18px;
    background-color: #FEFEFE;
    position: relative;
    z-index: 2;
}
/*功能按钮*/
.add-button{
	width:40px;
	height: 40px;
	border-radius: 100%;
	position: absolute;
	top:30px;
	right: 30px;
	background-image:url(../img/icon.png);
	background-position: -40px -40px;
	z-index: 1000;
	cursor: pointer;
	animation:mysecond 2s infinite linear;
	-webkit-animation:mysecond 2s infinite linear;
	-moz-animation:mysecond 2s infinite linear;
	-o-animation:mysecond 2s infinite linear;
}

.add-button:hover {
	animation:myfirst 2s infinite linear;
	-webkit-animation:myfirst 2s infinite linear;
	-moz-animation:myfirst 2s infinite linear;
	-o-animation:myfirst 2s infinite linear;
}
.add-rotate{
    animation:mysix 1s ease-in-out forwards !important;
    -webkit-animation:mysix 1s ease-in-out forwards !important;
    -moz-animation:mysix 1s ease-in-out forwards !important;
    -o-animation:mysix 1s ease-in-out forwards !important;    
}
.add-rotate-back{
    animation:myseven 1s ease-in-out forwards !important;
    -webkit-animation:myseven 1s ease-in-out forwards !important;
    -moz-animation:myseven 1s ease-in-out forwards !important;
    -o-animation:myseven 1s ease-in-out forwards !important;    
}
/*左上角更新*/
.update{
	width:40px;
	height: 40px;
	position: absolute;
	top:30px;
	left:30px;
	background: url(../img/icon.png);
	z-index: 99;
	cursor: pointer;
	animation:myfive 10s linear infinite;
	-webkit-animation:myfive 10s linear infinite;
	-moz-animation:myfive 10s linear infinite;
	-o-animation:myfive 10s linear infinite;	
}
.update:hover{
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-ms-animation-play-state:paused;
	-o-animation-play-state:paused;
}
/*更新说明*/
.update-bg{
	width:100%;
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	background: rgba(0,0,0,.4);
	z-index:1001;	
	display: none;
}
.update-div{
	width:400px;
	height: 500px;
	margin:50px auto;
	background: #fff;
	border-radius: 4px;
}
.update-div-top{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 28px;
	border-bottom: 1px solid #cecece;
}
.update-div-span{
	display:block;
	width:28px;
	padding:0 6px;
	height: 40px;
	font-size: 32px;
	line-height: 40px;
	font-weight: 900;
	position: relative;
	top:-41px;
	left:360px;
	color:skyblue;
	cursor: pointer;
}
.update-div-span:hover {
	background: #cecece;
}
.update-div-main{
	width:360px;
	padding:0 20px;
	height: 459px;
	position: relative;
	top:-40px;
	overflow-y: auto;
	font-weight:bold;
	font-size: 14px;
}
.update-div-main p{
	margin:5px 0;
}
/*滚动条*/
/*webkit内核*/
::-webkit-scrollbar {
	width: 14px;
	height: 14px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
	border-radius: 999px;
	border: 5px solid transparent;
}
::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}
::-webkit-scrollbar-thumb {
	min-height: 20px;
	background-clip: content-box;
	box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/*提示*/
.change-tip{
	position: absolute;
    left: 50%;
    top:5%;
    transform: translate(-50%,-50%);
	padding: 8px 20px;
	font-size: 22px;
	font-weight: 600;
	font-family: "微软雅黑";
	background:gray;
	border-radius: 10px;
	color:#1ABC9C;
	z-index: 1002;
}



/*媒体查询*/
@media screen and (max-width: 1360px){
	.backgroundImg{
		background-size: 1360px 1360px;
	}
}
@media screen and (max-width: 1200px){
	#addButton,#changeWallpaper,#rightBar,#updateImg{
		display: none;
	}
}
@media screen and (min-width: 1920px){
	html{
		font-size: 28px;
	}
}
@media screen and (max-width: 1919px){
	html{
		font-size: 26px;
	}
}
@media screen and (max-width: 1700px){
	html{
		font-size: 24px;
	}
}
@media screen and (max-width: 1440px){
	html{
		font-size: 22px;
	}
}
@media screen and (max-width: 1366px){
	html{
		font-size: 20px;
	}
}
@media screen and (max-width: 1200px){
	html{
		font-size: 18px;
	}
}