@charset "utf-8";

/*侧边功能栏*/
.rightbar{
	width:350px;
	position: absolute;
	top:0;
	right: -350px;
	height: 100%;
	border-left: 1px solid #cecece;
	z-index: 10;
}
.rightbar-top{
	height: 80px;
	padding: 30px 0 0 30px;
	background:#2ECC71;
}
.rightbar-top-choose{
	line-height: 30px;
	font-size: 24px;
	color: #fff;
	display: inline-block;
	margin-right:20px;
	cursor: pointer;
}
.rightbar-top-choose-on{
	border-bottom: 2px solid #fff;
}

.rightbar-project,.rightbar-setting{
	height: calc(100% - 80px);
	height: -webkit-calc(100% - 80px);
	height: -moz-calc(100% - 80px);	
	position: relative;
	left:0;
	top:0;
	background: #FDFDF5;
}
/*项目开始*/
.rightbar-project-bar,.rightbar-setting-bar{
	padding:7.5px 80px;
	height: 45px;
	box-shadow: 0 8px 5px rgba(240, 240, 234, .5);
}
.rightbar-project-bar-span{
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
	color: gray;
	font-weight: 400;
	cursor: pointer;
}
.rightbar-project-bar-spanon{
	color: #2ECD79;
}

.rightbar-tj,.rightbar-diy{
	height:calc(100% - 45px);
	height:-webkit-calc(100% - 45px);
	height:-moz-calc(100% - 45px);
	position: relative;
	left:0;
	top:0;
}
/*推荐项目*/
.rightbar-tj-filter{
	height: 32px;
	box-shadow: 0 8px 5px rgba(240, 240, 234, .5);
	padding:9px 40px;
}
.rightbar-tj-filter-input{
	width:269px;
	height: 32px;
	border:1px solid #cecece;
	border-radius: 40px;
	padding:0 12px;
	font-size: 16px;
	/*color:#cecece;*/
	display: inline-block;
	box-shadow:none;	
}
.rightbar-tj-filter-input:focus{
	outline: none;
	border:1px solid #2ECD79;
	background: #FAFFBD;	
}
.rightbar-tj-main{
	height: calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: -moz-calc(100% - 50px);
	overflow: hidden;
	position: relative;
}
.rightbar-tj-leftbar{
	width:99px;
	height: 100%;
	box-shadow: 8px 0 5px rgba(240, 240, 234, .5);
}
.rightbar-tj-leftbar-a{
	display: inline-block;
	width:99px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 200;
	color:#cecece;
	cursor: pointer;
	text-align: center;	
}
.rightbar-tj-leftbar-aon,.rightbar-tj-leftbar-a:hover{
	background: #2ECC71;
	color:#fff;	
}
/*路由*/
.rightbar-tj-rightbar{
	width:250px;
	height: 100%;
	position: absolute;
	top:0;
	left:99px;
}
/*路由动画*/
.rightbar-tj-rightbar.ng-enter {
	-webkit-animation: 1s slide-in;
	-moz-animation: 1s slide-in;
	-o-animation: 1s slide-in;
	animation: 1s slide-in;
	z-index:100;
	margin-left: -100px;
}

.rightbar-tj-rightbar.ng-leave {
	-webkit-animation: 1s slide-out;
	-moz-animation: 1s slide-out;
	-o-animation: 1s slide-out;
	animation: 1s slide-out;
	z-index:99;
}
.view-ul{
	display: block;
	height:100%;
	overflow-y: auto;
}
.view-li{
	width:80px;
	height:110px;
	display: inline-block;
	margin:10px 17.5px 0px;	
}
.view-li-logo{
	width:80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}
.view-li-logo:hover{
	animation: mythree 1s infinite;
	-webkit-animation: mythree 1s infinite;
	-moz-animation: mythree 1s infinite;
	-ms-animation: mythree 1s infinite;
	-o-animation: mythree 1s infinite;	
}
.view-li-logo-img{
	width:80px;
	height: 80px;
	cursor: pointer;
}
.view-li-title{
	width:80px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color:#c8c8c8;
	text-align: center;
}
/*推荐项目结束*/
/*自定义项目*/
.rightbar-diy{
	padding-top: 20px;
}
.rightbar-diy-input{
	width:229px;
	height: 32px;
	border:1px solid #cecece;
	border-radius: 40px;
	margin: 0px 50px 20px 50px;
	padding: 0 10px;
	font-size: 18px;
	display: inline-block;
	box-shadow:none;	
}
.rightbar-diy-input:focus{
	outline: none;
	border:1px solid #2ECD79;
	background: #FAFFBD;
}
.rightbar-diy-submit{
	width:249px;
	margin:10px 50px;
	height: 36px;
	font-size: 22px;
	color: #fff;
	background: #1ABC9C;
	text-align: center;
	border-radius: 20px;
	border:1px solid #1ABC9C;
	opacity: 0.65;
	cursor: pointer;
	outline: none;
}
.rightbar-diy-submit:hover{
	opacity: 1;
}
.rightbar-diy-choose-yulan{
	width:100px;
	height:100px;
	margin:10px auto 10px auto;
}
.rightbar-diy-choose-p{
	font-size: 18px;
	color: #ABB8B7;
}
.rightbar-diy-choose-color{
	margin:10px 54px;	
}
.rightbar-diy-choose-wai{
	width:30px;
	height: 30px;
	padding:2px;
	border-radius: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0 5px 10px 5px;
	display: inline-block;
	float: left;
	opacity: 0.3;
	cursor: pointer;
	visibility: hidden;
}
.rightbar-diy-choose-zhong{
	width:26px;
	height: 26px;
	padding:2px;
	border-radius: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #fff;
	visibility: visible;	
}
.rightbar-diy-choose-li{
	width:22px;
	height: 22px;
	border-radius: 100%;
	visibility: visible;	
}
.rightbar-diy-choose-wai:hover,.rightbar-diy-choose-focus{
	opacity: 1;
	visibility: visible;
}
/*自定义项目结束*/
/*设置开始*/
.rightbar-setting{
	background-color: rgb(242,244,209);
}
.rightbar-setting-bar{
	font-size: 20px;
	line-height: 30px;
	color: #2ECD79;
	font-weight: 400;	
}
.rightbar-setting-main{
	padding:25px 50px;
}
.rightbar-setting-title{
	height: 30px;
	margin-bottom: 15px;
}
.rightbar-setting-title-span{
	display: block;
	line-height: 30px;
	font-size: 18px;	
	color: #90809E;
}
.rightbar-setting-tmd,.rightbar-setting-yuanjiao{
	padding:5px 0;
}
.rightbar-setting-slider{
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    width: 249px;
    height: 8px;
    background: #cecece;	
}
.rightbar-setting-leftbar{
    border-radius: 10px;
    position: absolute;
    background: #2ECC71;
    height: 8px;
    top: 0px;
    left:0px;
    z-index: 11;
}
.rightbar-setting-grip{
    position: absolute;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: #2ECC71;
    top:-6px;
    z-index: 12;	
}
.rightbar-setting-color{
	margin-top: 15px;
}