@charset "utf-8";
body{
	padding:0;
	margin:0;
	overflow: hidden;
}
ul{
	list-style: none;
	padding:0;
	margin:0;
}
/*动画加载*/
.loading-bg{
	width:100%;
	height: 100%;
	background: #fff;
	position: absolute;
	z-index: 9999;
	top:0;
	left:0;
}
.loading-main{
	position: absolute;
	width:320px;
    left: calc((100% - 320px)/2);
    left: -webkit-calc((100% - 320px)/2);
    left: -moz-calc((100% - 320px)/2);
    left: -ms-calc((100% - 320px)/2);
    top: calc((100% - 41px)/2);
    top: -webkit-calc((100% - 41px)/2);
    top: -moz-calc((100% - 41px)/2);
    top: -ms-calc((100% - 41px)/2);
}
.loading-title{
	font-size: 18px;
	margin:5px 0;
}
.loading-action{
	border:1px solid #999;
}
.loading-ing{
	width:0;
	height: 8px;
	background-color: #6188f5;
	background-image: linear-gradient(315deg,transparent,transparent 33%,rgba(0,0,0,.12) 33%,rgba(0,0,0,.12) 66%,transparent 66%,transparent);
}
.centered{
	text-align: center;
}
.lefted{
	float: left;
}
.righted{
	float: right;
}
a{
	color:#fff;
	text-decoration: none;
	font-size: 16px;
}
ul{
	list-style: none;
	padding:0;
	margin:0;
}
/*背景图*/
.backgroundImg{
	width:100%;
	height: 100%;
	background-size: 100%;
	background-position: top left;
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
	z-index: -1;	
}
/*左上角更新*/
#updateImg{
	width:40px;
	height: 40px;
	position: absolute;
	top:30px;
	left:30px;
	background: url(../img/icon.png);
	z-index: 99;
	cursor: pointer;
	animation:five 10s linear infinite;
	-webkit-animation:five 10s linear infinite;
	-moz-animation:five 10s linear infinite;
	-ms-animation:five 10s linear infinite;
	-o-animation:five 10s linear infinite;	
}
@keyframes five{
	form{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}
@-webkit-keyframes five{
	form{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes five{
	form{-moz-transform:rotate(0deg);}
	to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes five{
	form{-ms-transform:rotate(0deg);}
	to{-ms-transform:rotate(360deg);}
}
@-o-keyframes five{
	form{-o-transform:rotate(0deg);}
	to{-o-transform:rotate(360deg);}
}
#updateImg:hover{
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-ms-animation-play-state:paused;
	-o-animation-play-state:paused;
}
/*左下角播放器*/
.music-bofangqi{
	position: absolute;
	left:30px;
	bottom:30px;
	width:40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	background-image: url(../img/music-bg.png);
	background-size: 40px auto;
	cursor: pointer;
}
.music-icon{
	width:20px;
	height: 20px;
	margin:10px;
	background-image: url(../img/icon.png);
	background-size: 40px auto;
	background-position: -20px 0;
}
.music-guodu{
	animation: guodu 1s ease-in-out forwards;
	-moz-animation: guodu 1s ease-in-out forwards;
	-webkit-animation: guodu 1s ease-in-out forwards;	
	-ms-animation: guodu 1s ease-in-out forwards;	
	-o-animation: guodu 1s ease-in-out forwards;	
}
@keyframes guodu {
    0% {
    	transform: translate(-220px,40px) scale(0.071428,0.333333) rotate(0deg);
    	border-radius: 100%;
        overflow: hidden;
    }
    10%{
        transform: translate(-120px,-60px) scale(0.071428,0.333333);
        border-radius: 100%;
        overflow: hidden;
    }
    20%{
        transform: translate(-20px,40px) scale(0.071428,0.333333) rotate(360deg);
        border-radius: 100%;
        overflow: hidden;
    }     
    35% {
		transform: translate(-100px,0) scale(0.33,1) rotate(720deg);
		border-radius: 100%;
        overflow: hidden;
    }
    40%{
        transform: translate(-100px,0) scale(0.33,1);
        border-radius: 0;
        overflow: hidden;        
    }  
    60% {
        transform: translate(-60px,0) scale(0.66,1);
        border-radius: 0;
    }
    90% {
		transform: translate(-30px,0) scale(0.9444444,1);
		border-radius: 0;
    }
    100% {
        transform: translate(0,0) scale(1);
        border-radius: 0;
    }
}
.music-back{
	animation: back 1s ease-in-out forwards;
	-moz-animation: back 1s ease-in-out forwards;
	-webkit-animation: back 1s ease-in-out forwards;	
	-ms-animation: back 1s ease-in-out forwards;	
	-o-animation: back 1s ease-in-out forwards;	
}
@keyframes back{
    0% {
        transform: translate(0,0) scale(1);
        border-radius: 0;
    }
    5% {
		transform: translate(-30px,0) scale(0.9444444,1);
		border-radius: 0;
    }
    15% {
        transform: translate(-100px,0) scale(0.66,1);
        border-radius: 10%;
    }  
    45% {
		transform: translate(-160px,0) scale(0.33,1);
		border-radius: 20%;
    } 
    60%{
    	transform:translate(0px,0px) scale(0.222222,1) rotate(360deg);
    	border-radius: 30%;
    } 
    75%{
    	transform: translate(-110px,20px) scale(0.1,0.666666) rotate(180deg);
    	border-radius: 40%;
    }  
    100% {
    	transform: translate(-220px,-40px) scale(0.071428,0.333333) rotate(0deg);
    	border-radius: 50%;
    }           
}

.music-xuanzhuan{
	animation:five 5s linear infinite;
	-webkit-animation:five 5s linear infinite;
/*	-moz-animation:five 5s linear infinite;
	-ms-animation:five 5s linear infinite;
	-o-animation:five 5s linear infinite;*/	
}
.music-pause{
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
}
.bofangqi{
	width:540px;
	height: 120px;
	background-color: #000;
	background-image: linear-gradient(315deg,transparent,transparent 33%,rgba(0,0,0,.12) 33%,rgba(0,0,0,.12) 66%,transparent 66%,transparent);
	position: absolute;
	bottom:30px;
	border-radius: 50%;
    /*overflow: hidden;*/
	left:0;
	transform: translate(-220px,40px) scale(0.071428,0.333);
	-webkit-transform: translate(-220px,40px) scale(0.071428,0.333);
	-moz-transform: translate(-220px,40px) scale(0.071428,0.333);
	display: none;	
}
/*播放器css开始*/
.m_player {
    width: 540px;
    height: 111px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5em;
    position: absolute;
    z-index:9;
}

.m_player_dock {
    background-color: #000;
    width: 540px;
    height: 111px
}

.m_player .music_info {
    height: 111px
}

.m_player .music_info .album_pic {
    display: block;
    width: 90px;
    height: 90px;
    margin: 10px;
    float: left;
    overflow: hidden
}

.m_player .music_info .album_pic img {
    width: 90px;
    height: 90px
}

.m_player .music_info_main {
    font-family: tahoma;
    float: left
}

.m_player .music_info p {
    margin: 5px 0
}

.m_player .music_info .music_name {
    color: #FFF;
    height: 20px;
    width: 300px;
    overflow: hidden;
    word-break: keep-all;
    word-wrap: keep-all;
    white-space: nowrap;
    table-layout: fixed;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.m_player .music_info .music_name span {
    float: left;
    max-width: 210px;
    overflow: hidden;
    word-break: keep-all;
    word-wrap: keep-all;
    white-space: nowrap;
    table-layout: fixed;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    _float: none
}

.m_player .music_info .music_name .icon_radio {
    float: left;
    _float: none;
    *display: inline;
    _zoom: 1;
    width: 75px;
    height: 20px;
    margin: 0 0 0 10px;
    background: url(../img/player_bg.png) no-repeat -453px -55px;
    text-indent: -9999em;
    overflow: hidden;
    vertical-align: middle
}

.m_player .music_info .singer_name {
    color: #828282;
    display: block;
    width: 120px;
    height: 20px;
    overflow: hidden;
    word-break: keep-all;
    word-wrap: keep-all;
    white-space: nowrap;
    table-layout: fixed;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.m_player .music_info .play_date {
    color: #595959;
    height: 20px
}

.m_player .bar_op {
    position: absolute;
    left: 248px;
    top: 43px;
    width: 280px
}

.m_player .bar_op strong {
    background: url(../img/player_bg.png) no-repeat;
    display: block;
    vertical-align: top;
    width: 36px;
    height: 28px;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
    border: 0;
    cursor: pointer
}

.m_player .bar_op strong span,
.m_player .playbar_cp_select strong span {
    display: none
}

.m_player .bar_op .play_bt,
.m_player .bar_op .pause_bt {
    width: 42px;
    height: 42px;
    margin-top: 0
}

.m_player .bar_op .play_bt {
    background-position: -105px 0
}

.m_player .bar_op .play_bt:hover {
    background-position: -105px -42px
}

.m_player .bar_op .pause_bt {
    background-position: -291px -88px
}

.m_player .bar_op .pause_bt:hover {
    background-position: -333px -88px
}

.m_player .bar_op .prev_bt {
    background-position: -69px 0
}

.m_player .bar_op .prev_bt:hover {
    background-position: -69px -32px
}

.m_player .bar_op .next_bt {
    background-position: -147px -0
}

.m_player .bar_op .next_bt:hover {
    background-position: -147px -32px
}

.m_player .bar_op .cycle_bt {
    background-position: -219px 0
}

.m_player .bar_op .cycle_bt:hover {
    background-position: -219px -32px
}

.m_player .bar_op .cycle_single_bt {
    background-position: -255px 0
}

.m_player .bar_op .cycle_single_bt:hover {
    background-position: -255px -32px
}

.m_player .bar_op .ordered_bt {
    background-position: -291px -32px
}

.m_player .bar_op .ordered_bt:hover {
    background-position: -291px -60px
}

.m_player .bar_op .unordered_bt {
    background-position: -327px -32px
}

.m_player .bar_op .unordered_bt:hover {
    background-position: -327px -60px
}

.m_player .active_tip {
    font-size: 0;
    background: url(../img/player_bg.png) no-repeat -376px -89px;
    display: block;
    width: 17px;
    height: 20px;
    position: absolute;
    right: 3px
}

.m_player .volume {
    display: inline-block;
    width: 100px;
    height: 24px;
    float: left;
    margin-top: 10px;
    margin-left: 8px
}

.m_player .volume .volume_icon,
.m_player .volume .volume_mute {
    vertical-align: -7px;
    *vertical-align: -7px;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer
}

.m_player .volume .volume_icon {
    background: url(../img/player_bg.png) no-repeat -189px -3px;
}

.m_player .volume .volume_icon:hover {
    background-position: -189px -35px;
}
/*
.m_player .volume .volume_mute {
    background: url(../img/player_bg.png) no-repeat -152px -63px;
}

.m_player .volume .volume_mute:hover {
    background-position: -189px -63px;
}
*/
/*.m_player .volume .volume_regulate {
    font-size: 0;
    background: url(../img/player_bg.png) no-repeat -291px -11px;
    display: inline-block;
    width: 71px;
    height: 11px;
    position: relative;
    cursor: pointer;
    *top: 3px
}*/

/*.m_player .volume .volume_bar {
    font-size: 0;
    background: url(../img/player_bg.png) no-repeat -291px 0;
    display: inline-block;
    height: 11px;
    position: absolute
}

.m_player .volume .volume_op {
    background: url(../img/player_bg.png) no-repeat -366px 0;
    font-size: 0;
    width: 6px;
    height: 11px;
    position: absolute;
    top: 0
}*/
.nstSlider-three{
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    left:34px;
    top:-14px;
    width: 70px;
    height: 3px;
    background: #8D8D8D;
}
.bar-three{
    border-radius: 10px;
    position: absolute;
    background: #525252;
    height: 3px;
    top: 0px;
    left:0px;
}
.leftGrip-three{
    position: absolute;
    border-radius: 10px;
    width: 7px;
    height: 7px;
    background: #8D8D8D;
    top:-2px;
}
.nstSlider-three:hover,.leftGrip-three:hover{
	background: #fff;
}
.m_player .open_list {
    background: url(../img/player_bg.png) no-repeat -222px -97px;
    display: inline-block;
    width: 47px;
    height: 28px;
    border: 0;
    position: absolute;
    top: 0;
    right: 61px;
    cursor: pointer
}

.m_player .open_list span {
    color: #FFF;
    font-family: tahoma;
    font-size: 11px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 28px;
    margin-left: 23px
}
/*播放器css结束*/
.bofangqi-close{
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	width:20px;
	height: 20px;
	background-color: #000;
	color:#fff;
	font-weight: bold;
	position: absolute;
	top:-10px;
	right:-10px;
	cursor:pointer;
	display: none;
	z-index: 10;
}
/*右下角风车*/
#changeWallpaper{
	position: absolute;
	bottom: 0;
	right:30px;
	height: 70px;
	overflow: hidden;
}
#fengche{
	position: relative;
	width:40px;
	height: 40px;
	top:0;
	left:0;
	z-index: 3;
	cursor: pointer;
	background-image: url(../img/icon.png);
	background-position: -40px -120px;
}
#fengchegan{
	width: 5px;
    height: 43px;
    bottom: 13px;
    left: 18px;
    background-color: #FEFEFE;
    position: relative;
    z-index: 2;
}
/*功能按钮*/
#addButton{
	width:40px;
	height: 40px;
	border-radius: 100%;
	position: absolute;
	top:30px;
	right: 30px;
	/*box-shadow: #e74c3c 0 0 20px;*/
	background-image:url(../img/icon.png);
	background-position: -40px -40px;
	z-index: 1000;
	cursor: pointer;
	animation:mysecond 2s infinite linear;
	-webkit-animation:mysecond 2s infinite linear;
	-moz-animation:mysecond 2s infinite linear;
	-ms-animation:mysecond 2s infinite linear;
	-o-animation:mysecond 2s infinite linear;
}
@keyframes mysecond{
	from{box-shadow: yellow 0 0 40px;}
	50%{box-shadow: transparent 0 0 40px;}
	to{box-shadow: yellow 0 0 40px;}
}
@-webkit-keyframes mysecond{
	from{box-shadow: yellow 0 0 40px;}
	50%{box-shadow: transparent 0 0 40px;}
	to{box-shadow: yellow 0 0 40px;}
}
@-moz-keyframes mysecond{
	from{box-shadow: yellow 0 0 40px;}
	50%{box-shadow: transparent 0 0 40px;}
	to{box-shadow: yellow 0 0 40px;}
}
@-ms-keyframes mysecond{
	from{box-shadow: yellow 0 0 40px;}
	50%{box-shadow: transparent 0 0 40px;}
	to{box-shadow: yellow 0 0 40px;}
}
@-o-keyframes mysecond{
	from{box-shadow: yellow 0 0 40px;}
	50%{box-shadow: transparent 0 0 40px;}
	to{box-shadow: yellow 0 0 40px;}
}
#addButton:hover {
	animation:myfirst 2s infinite linear;
	-webkit-animation:myfirst 2s infinite linear;
	-moz-animation:myfirst 2s infinite linear;
	-ms-animation:myfirst 2s infinite linear;
	-o-animation:myfirst 2s infinite linear;
}
@keyframes myfirst{
	from{box-shadow: inset red 0 0 40px;}
	50%{box-shadow: inset orange 0 0 40px;}
	to{box-shadow: inset red 0 0 40px;}
}
@-webkit-keyframes myfirst{
	from{box-shadow: inset red 0 0 40px;}
	50%{box-shadow: inset orange 0 0 40px;}
	to{box-shadow: inset red 0 0 40px;}
}
@-moz-keyframes myfirst{
	from{box-shadow: inset red 0 0 40px;}
	50%{box-shadow: inset orange 0 0 40px;}
	to{box-shadow: inset red 0 0 40px;}
}
@-ms-keyframes myfirst{
	from{box-shadow: inset red 0 0 40px;}
	50%{box-shadow: inset orange 0 0 40px;}
	to{box-shadow: inset red 0 0 40px;}
}
@-o-keyframes myfirst{
	from{box-shadow: inset red 0 0 40px;}
	50%{box-shadow: inset orange 0 0 40px;}
	to{box-shadow: inset red 0 0 40px;}
}
/*更新说明*/
#bg,#bg_change{
	width:100%;
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	background: rgba(0,0,0,.4);
	display: none;
	z-index:1001;
}
#updateDiv{
	width:400px;
	height: 500px;
	margin:50px auto;
	background: #fff;
	border-radius: 4px;
}
#updateDiv-top{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 28px;
	border-bottom: 1px solid #cecece;
}
#updateDiv #close{
	display:block;
	width:28px;
	padding:0 6px;
	height: 40px;
	font-size: 32px;
	line-height: 40px;
	font-weight: 900;
	position: relative;
	top:-41px;
	left:360px;
	color:skyblue;
	cursor: pointer;
}
#updateDiv #close:hover {
	background: #cecece;
}
#updateDiv-main{
	width:360px;
	padding:0 20px;
	height: 459px;
	position: relative;
	top:-40px;
	overflow-y: auto;
	font-weight:bold;
	font-size: 14px;
}
#updateDiv-main p{
	margin:5px 0;
}
/*滚动条*/
/*webkit内核*/
::-webkit-scrollbar {
	width: 14px;
	height: 14px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
	border-radius: 999px;
	border: 5px solid transparent;
}
::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}
::-webkit-scrollbar-thumb {
	min-height: 20px;
	background-clip: content-box;
	box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/*修改标签*/
#change_biaoqian h1{
	padding:10px 0;
	margin:0;
	color: #1ABC9C;
}
#change_biaoqian{
	width:250px;
	height: 240px;
	margin:150px auto 0;
	padding:0 30px;
	border-radius: 30px;
	background: #fff;
}
#change_biaoqian input{
	width:250px;
	height: 32px;
	line-height: 32px;
	margin-bottom:20px;
	border:1px solid #cecece;
	border-radius: 40px;
	padding: 0 10px;
	font-size: 18px;
	display: inline-block;
	box-shadow:none;
}
#change_biaoqian input:focus{
	outline: none;
	border:1px solid #2ECD79;
	background: #FAFFBD;
}
#change_biaoqian button{
	width:250px;
	height: 36px;
	line-height: 36px;
	font-size: 22px;
	color: #fff;
	background: #1ABC9C;
	text-align: center;
	border-radius: 20px;
	border:1px solid #1ABC9C;
	opacity: 0.4;
	cursor: pointer;
	outline: none;
}
#change_biaoqian button:hover{
	opacity: 1;
}
/*提示*/
.change-tip{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:10px auto 0;
	width:150px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	font-weight: 600;
	font-family: "微软雅黑";
	background:gray;
	border-radius: 10px;
	color:#1ABC9C;
	text-align: center;
	z-index: 1002;
}
/*主体*/
#main{
	width:900px;
	margin:60px auto;
	height: auto;
	/*border:2px solid pink;*/
	border-radius: 8px;
/*	position: absolute;
	left:calc(100%/2 - 450px);*/
	/*box-sizing:border-box;
	-moz-box-sizing:border-box;*/
}
/*搜索栏*/
#mainTop{
	width:550px;
	height:100px;
	margin:0 auto;
	/*overflow: hidden;*/
}
#searchBar{
	height: 40px;
	padding-top: 20px;
}
#searchBar ul{
	display: inline-block;
}
#searchBar ul li{
	width:28px;
	height: 30px;
	margin:0 20.375px;
	line-height: 30px;
	display: inline-block;
	float: left;
	text-align: center;
	color:#fff;
	font-size: 14px;
	cursor: pointer;
	/*border-bottom: 2px solid #2ECC71;*/
}
#searchBar ul li:first-child{
	border-bottom: 2px solid #2ECC71;
}
#searchInput{
	height: 40px;
	position: relative;
	z-index: 1;
}
#searchInput input[type=search]{
	width:100%;
	height:40px;
	border-radius: 90px;
	border:1px solid #cecece;
	font-size: 16px;
	padding-left: 60px;
	padding-right: 80px;
	box-shadow: none;
	outline: none;
	/*display: block;*/
}
input[type=search]:focus{
	outline: none;
	border:none;
	background: #FAFFBD;
}
#searchInput .lefted{
	display:block;
	width:40px;
	height: 40px;
	background-image: url(../img/icon.png);
	background-position-y:-80px;
	position: absolute;
	left:10px;
	top:0;
	cursor: pointer;
}
#searchInput .lefted:hover .select-search{
	display: block;
}
/*搜索选择下拉菜单*/
.select-search{
	display: block;
	width:100px;
	position: absolute;
	background-color: rgba(255,255,255,.82);
	border-radius: 10px;
	top:50px;
	left:-30px;
	z-index: 3;
	display: none;
}
.select-search-li{
	display: block;
	height: 40px;
	color:#2ecc71;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	overflow: hidden;
}
.select-search-li:nth-child(2){
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.select-search-li:nth-child(3){
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.select-search-li:hover {
	background-color: #2ecc71;
	color: #fff;
}
.select-search-arrow{
	width:0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-bottom: 10px solid rgba(255,255,255,.82);
	border-right: 10px solid transparent;
	top:-10px;
	left:40px;
}
#searchInput .righted{
	display:none;
	width:80px;
	height:40px;
	padding:0 !important;
	background: #55BF67 url(../img/search.png) no-repeat center;
	background-size: 40px auto;
	position: absolute;
	right:0;
	top:0;
	opacity: 0.6;
	cursor: pointer;
	outline: none;
	border:none;
	-webkit-border-radius: 0 40px 40px 0;
	-moz-border-radius: 0 40px 40px 0;
	-ms-border-radius: 0 40px 40px 0;
	border-radius: 0 40px 40px 0;
}
#searchInput .righted:hover{
	opacity: 1.0;
}

/*标签*/
#mainCenter{
	margin:30px 0;
	height: 320px;
	overflow: hidden;
	transform: scale(0.1,0.1);
	-webkit-transform:scale(0.1,0.1);
	-moz-transform:scale(0.1,0.1);
	-ms-transform:scale(0.1,0.1);
	-o-transform:scale(0.1,0.1);
}
.zoomed{
	animation: fangda 1.5s ease 1 forwards;
	-webkit-animation: fangda 1.5s ease 1 forwards;
	-moz-animation: fangda 1.5s ease 1 forwards;
	-ms-animation: fangda 1.5s ease 1 forwards;
	-o-animation: fangda 1.5s ease 1 forwards;
}
@keyframes fangda{
	0%{transform:scale(0.1,0.1);}
	100%{transform:scale(1,1);}
}
@-webkit-keyframes fangda{
	0%{-webkit-transform:scale(0.1,0.1);}
	100%{-webkit-transform:scale(1,1);}
}
@-moz-keyframes fangda{
	0%{-moz-transform:scale(0.1,0.1);}
	100%{-moz-transform:scale(1,1);}
}
@-ms-keyframes fangda{
	0%{-ms-transform:scale(0.1,0.1);}
	100%{-ms-transform:scale(1,1);}
}
@-o-keyframes fangda{
	0%{-o-transform:scale(0.1,0.1);}
	100%{-o-transform:scale(1,1);}
}
#mainCenter .infinity{
	list-style: none;
	margin:0;
	padding:0;
	width:4000px;
}
#mainCenter .infinity li{
	width:900px;
	height: 320px;
	display: inline-block;
	float: left;
}
#mainCenter #sortable{
	padding:0;
	margin:0;
	list-style: none;
	display: block;
	position: relative;
}
#mainCenter #sortable li{
	width:100px;
	height: 160px;
	display: inline-block;
	margin:0 40px;
	float: left;
}
#mainCenter a{
	display: inline-block;
	width:100px;
	height: 160px;
	position: relative;
	top:0;
	left:0;
}
.liRotate{
	animation: rotate 0.2s ease infinite;
	-webkit-animation: rotate 0.2s ease infinite;
	-moz-animation: rotate 0.2s ease infinite;
	-ms-animation: rotate 0.2s ease infinite;
	-o-animation: rotate 0.2s ease infinite;
}
@keyframes rotate{
	0%,50%,100%{transform:rotate(0);}
	25%{transform:rotate(-2deg);}
	75%{transform:rotate(2deg);}
}
@-webkit-keyframes rotate{
	0%,50%,100%{-webkit-transform:rotate(0);}
	25%{-webkit-transform:rotate(-2deg);}
	75%{-webkit-transform:rotate(2deg);}
}
@-moz-keyframes rotate{
	0%,50%,100%{-moz-transform:rotate(0);}
	25%{-moz-transform:rotate(-2deg);}
	75%{-moz-transform:rotate(2deg);}
}
@-ms-keyframes rotate{
	0%,50%,100%{-ms-transform:rotate(0);}
	25%{-ms-transform:rotate(-2deg);}
	75%{-ms-transform:rotate(2deg);}
}
@-o-keyframes rotate{
	0%,50%,100%{-o-transform:rotate(0);}
	25%{-o-transform:rotate(-2deg);}
	75%{-o-transform:rotate(2deg);}
}
#mainCenter .biaoLogo{
	width:100px;
	height: 100px;
	color:#fff;
	border-radius: 50%;
	font-size: 2.5em;
	line-height: 100px;
	background-size: 100px 100px !important;
}
.removeIco,.editIco{
	width:30px;
	height: 30px;
    border-radius: 30px;
    position: relative;
	top:-190px;
	left:70px;
    visibility: hidden;
    z-index: 9;
    cursor: pointer;
    background-image:url(../img/icon.png);
    background-size: 60px auto;
}
.removeIco{
	background-position: 0 -30px;
}
.editIco{
	left:0;
	top:-160px;
	margin:0;
	visibility: hidden;
	overflow: hidden;
	background-color:rgba(255,255,255,0.5);
	background-position: 0 -90px;
}
#mainCenter .wenZi{
	width:100px;
	height: 20px;
	margin: 10px 0 30px 0;
}
#mainCenter .biaoLogo:hover{
	animation: mythree 1s infinite;
	-webkit-animation: mythree 1s infinite;
	-moz-animation: mythree 1s infinite;
	-ms-animation: mythree 1s infinite;
	-o-animation: mythree 1s infinite;
}
@keyframes mythree{
	from{box-shadow: skyblue 0 0 20px;}
	50%{box-shadow: #fff 0 0 20px;}
	to{box-shadow: skyblue 0 0 20px;}
}
@-webkit-keyframes mythree{
	from{box-shadow: skyblue 0 0 20px;}
	50%{box-shadow: #fff 0 0 20px;}
	to{box-shadow: skyblue 0 0 20px;}
}
@-moz-keyframes mythree{
	from{box-shadow: skyblue 0 0 20px;}
	50%{box-shadow: #fff 0 0 20px;}
	to{box-shadow: skyblue 0 0 20px;}
}
@-ms-keyframes mythree{
	from{box-shadow: skyblue 0 0 20px;}
	50%{box-shadow: #fff 0 0 20px;}
	to{box-shadow: skyblue 0 0 20px;}
}
@-o-keyframes mythree{
	from{box-shadow: skyblue 0 0 20px;}
	50%{box-shadow: #fff 0 0 20px;}
	to{box-shadow: skyblue 0 0 20px;}
}
#mainCenter .wenZi:hover{
	animation:myfour 1s infinite;
	-webkit-animation:myfour 1s infinite;
	-moz-animation:myfour 1s infinite;
	-ms-animation:myfour 1s infinite;
	-o-animation:myfour 1s infinite;
}
@keyframes myfour{
	from{text-shadow: red 0 0 20px;}
	50%{text-shadow: #fff 0 0 20px;}
	to{text-shadow: red 0 0 20px;}
}
@-webkit-keyframes myfour{
	from{text-shadow: red 0 0 20px;}
	50%{text-shadow: #fff 0 0 20px;}
	to{text-shadow: red 0 0 20px;}
}
@-moz-keyframes myfour{
	from{text-shadow: red 0 0 20px;}
	50%{text-shadow: #fff 0 0 20px;}
	to{text-shadow: red 0 0 20px;}
}
@-ms-keyframes myfour{
	from{text-shadow: red 0 0 20px;}
	50%{text-shadow: #fff 0 0 20px;}
	to{text-shadow: red 0 0 20px;}
}
@-o-keyframes myfour{
	from{text-shadow: red 0 0 20px;}
	50%{text-shadow: #fff 0 0 20px;}
	to{text-shadow: red 0 0 20px;}
}
/*主体末点*/
#mainBottom{
	height: 40px;
	text-align: center;
}
#mainBottom #num{
	list-style: none;
	padding:0;
	margin:0;
	display: none;
}
#mainBottom #num li{
	display: inline-block;
	width:40px;
	height: 40px;
	border-radius: 50%;
	/*border:2px solid orange;*/
	background: #fff;
	opacity: 0.65;
	cursor: pointer;
	float: left;
	margin:0 20px;
}
.on{
	background: red !important;
}
/*侧边功能栏*/
#rightBar{
	width:350px;
	position: absolute;
	top:0;
	right:-350px;
	height: 100%;
	border-left: 1px solid #cecece;
	z-index: 10;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#rightBarTop{
	height: 80px;
	padding: 30px 0 0 30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:#2ECC71;
}
span.select-one,span.select-two{
	line-height: 30px;
	font-size: 24px;
	color: #fff;
	display: inline-block;
	/*border-bottom: 2px solid #fff;*/
	margin-right:20px;
	cursor: pointer;
}
.borderBottom{
	border-bottom: 2px solid #fff;
}
#rightBarBottom{
	/*width: 100%;*/
	height: calc(100% - 80px);
	height: -webkit-calc(100% - 80px);
	height: -moz-calc(100% - 80px);
}
#xiangmu,#setting{
	/*width:calc(100% - 1px);*/
	height:100%;
	position: relative;
	left:0;
	top:0;
	background: #FDFDF5;
}
#setting{
	display: none;
}
/*项目*/
#xiangmuBar,#settingBar{
	padding:7.5px 80px;
	height: 45px;
	box-shadow: 0 8px 5px rgba(240, 240, 234, .5);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#xiangmuBar span.lefted,#xiangmuBar span.righted{
	display: inline-block !important;
	font-size: 20px;
	line-height: 30px;
	color: gray;
	font-weight: 400;
	cursor: pointer;
}
/*#xiangmuBar span.lefted{
	float: left;
}*/
.greenColor{
	color: #2ECD79 !important;
}
/*#xiangmuBar span.righted{
	float: right;
}*/
#xiangmuMain{
	height:calc(100% - 45px);
	height:-webkit-calc(100% - 45px);
	height:-moz-calc(100% - 45px);
}
#xiangmuMain-tj,#xiangmuMain-zdy{
	height:100%;
	position: relative;
	left:0;
	top:0;
}
/*推荐*/
#xiangmuMain-tj .sousuo{
	height: 32px;
	box-shadow: 0 8px 5px rgba(240, 240, 234, .5);
	padding:9px 40px;

}
#xiangmuMain-tj input{
	width:269px;
	height: 32px;
	border:1px solid #cecece;
	border-radius: 40px;
	padding:0 12px;
	font-size: 16px;
	color:#cecece;
	display: inline-block;
	box-shadow:none;
}
#xiangmuMain-tj input:focus{
	outline: none;
	border:1px solid #2ECD79;
	background: #FAFFBD;
}
#xiangmuMain-tj .main{
	height: calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: -moz-calc(100% - 50px);
	overflow: hidden;
}
#xiangmuMain-tj .leftBar{
	width:99px;
	height: 100%;
	float:left;
	box-shadow: 8px 0 5px rgba(240, 240, 234, .5);
}
#xiangmuMain-tj .leftBar ul li{
	display: block;
	width:99px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 200;
	color:#cecece;
	cursor: pointer;
	text-align: center;
}
#xiangmuMain-tj .leftBar ul li a{
	color: inherit;
}
#xiangmuMain-tj .leftBar ul li:hover{
	background: rgba(46,204,113,.5);
	color:#fff !important;	
}
.li_click{
	background: #2ECC71;
	color:#fff !important;
}
#xiangmuMain-tj .rightBar{
	width:250px;
	height: 100%;
	float: left;
/*	overflow-y: auto;
	overflow-x:hidden;*/
}
#xiangmuMain-tj .rightBar ul{
	display: block;
	height:100%;
	overflow-y: auto;
}
#xiangmuMain-tj .rightBar li{
	width:80px;
	height:110px;
	display: inline-block;
	float: left;
	margin:10px 17.5px 0px;
}
#xiangmuMain-tj .rightBar li .logo{
	width:80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}
#xiangmuMain-tj .rightBar li .logo:hover{
	animation: mythree 1s infinite;
	-webkit-animation: mythree 1s infinite;
	-moz-animation: mythree 1s infinite;
	-ms-animation: mythree 1s infinite;
	-o-animation: mythree 1s infinite;	
}
#xiangmuMain-tj .rightBar li .logo img{
	width:80px;
	height: 80px;
	cursor: pointer;
}
#xiangmuMain-tj .rightBar li .title{
	width:80px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color:#c8c8c8;
	text-align: center;
}
/*自定义*/
#xiangmuMain-zdy{
	padding-top: 20px;
	display: none;
	/*box-sizing:border-box;
	-moz-box-sizing:border-box;*/
}
#xiangmuMain-zdy input{
	width:229px;
	height: 32px;
	border:1px solid #cecece;
	border-radius: 40px;
	margin: 0px 50px 20px 50px;
	padding: 0 10px;
	font-size: 18px;
	display: inline-block;
	box-shadow:none;
}
#xiangmuMain-zdy input:focus{
	outline: none;
	border:1px solid #2ECD79;
	background: #FAFFBD;
}
#xiangmuMain-zdy .centered{
	font-size: 18px;
	color: #ABB8B7;
}
#yulan-back{
	width:100px;
	height:100px;
	margin:10px auto 10px auto;
	background: #1ABC9C;
}
#select-color{
	margin:10px 54px;
}
.icobgColor{
	width:30px;
	height: 30px;
	padding:2px;
	border-radius: 100%;
	/*border-color: transparent;*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0 5px 10px 5px;
	display: inline-block;
	float: left;
	opacity: 0.5;
	cursor: pointer;
	visibility: hidden;
}
.icobgColor-zhong{
	width:26x;
	height: 26px;
	padding:2px;
	border-radius: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #fff;
	visibility: visible;
}
.icobgColor-li{
	width:22px;
	height: 22px;
	border-radius: 100%;
	visibility: visible;
}
.icobgColor:hover{
	opacity: 1 !important;
	visibility: visible !important;
}
.icobgColor:nth-child(1),.icobgColor:nth-child(1) .icobgColor-li{
	background-color: #1ABC9C;
	opacity: 1;
	visibility: visible;
}
.icobgColor:nth-child(2),.icobgColor:nth-child(2) .icobgColor-li{
	background-color: #2ECC71;
}
.icobgColor:nth-child(3),.icobgColor:nth-child(3) .icobgColor-li{
	background-color: #33C5C5;
}
.icobgColor:nth-child(4),.icobgColor:nth-child(4) .icobgColor-li{
	background-color: #3498DB;
}
.icobgColor:nth-child(5),.icobgColor:nth-child(5) .icobgColor-li{
	background-color: #9B59B6;
}
.icobgColor:nth-child(6),.icobgColor:nth-child(6) .icobgColor-li{
	background-color: #34495E;
}
.icobgColor:nth-child(7),.icobgColor:nth-child(7) .icobgColor-li{
	background-color: #F1C40F;
}
.icobgColor:nth-child(8),.icobgColor:nth-child(8) .icobgColor-li{
	background-color: #E67E22;
}
.icobgColor:nth-child(9),.icobgColor:nth-child(9) .icobgColor-li{
	background-color: #E74C3C;
}
.icobgColor:nth-child(10),.icobgColor:nth-child(10) .icobgColor-li{
	background-color: #95A5A6;
}
.icobgColor:nth-child(11),.icobgColor:nth-child(11) .icobgColor-li{
	background-color: #39F076;
}
.icobgColor:nth-child(12),.icobgColor:nth-child(12) .icobgColor-li{
	background-color: #D80843;
}
#buttonTianjia{
	width:249px;
	margin:10px 50px;
	height: 36px;
	font-size: 22px;
	color: #fff;
	background: #1ABC9C;
	text-align: center;
	border-radius: 20px;
	border:1px solid #1ABC9C;
	opacity: 0.65;
	cursor: pointer;
	outline: none;
}
#buttonTianjia:hover{
	opacity: 1;
}
/*设置*/
#settingBar .centered{
	display: inline-block;
	line-height: 30px;
	height: 30px;
	width:100%;
	font-size: 22px;
}
#settingMain{
	height: calc(100% - 45px);
	height: -webkit-calc(100% - 45px);
	height: -moz-calc(100% - 45px);
	padding:70px 50px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#settingMain .lefted,#settingMain .righted{
	display: inline-block !important;
	font-size: 18px;
	color: #90809E;
}
#settingMain .centered{
	display: block;
	font-size: 18px;
	color: #90809E;
}
#tbbtmd,#tbyjds{
	height: 80px;
}
.nstSlider-one,.nstSlider-two{
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    width: 249px;
    height: 8px;
    background: #cecece;
}
.bar-one,.bar-two{
    border-radius: 10px;
    position: absolute;
    background: skyblue;
    height: 8px;
    top: 0px;
    left:0px;
    z-index: 11;
}
.leftGrip-one,.leftGrip-two{
    position: absolute;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: #2ECC71;
    top:-6px;
    z-index: 12;
}
.select-fontColor{
	height: 50px;
}
.fontColor{
	margin:10px 5.75px;
	width:30px;
	height:30px;
	padding:2px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 100%;
	display: inline-block;
	float: left;
	cursor: pointer;
	opacity: 0.5;
	visibility: hidden;
}
.fontColor:hover{
	opacity: 1 !important;
	visibility: visible !important;
}
.fontColor-zhong{
	width:26px;
	height: 26px;
	padding:2px;
	border-radius: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #fff;
	visibility: visible;
}
.fontColor-li{
	width:22px;
	height: 22px;
	border-radius: 100%;
	visibility: visible;
}
.fontColor-li-on{
	opacity: 1;
	visibility: visible;	
}
.fontColor:nth-child(1),.fontColor:nth-child(1) .fontColor-li{
	background-color: #ECF0F1;
}
.fontColor:nth-child(2),.fontColor:nth-child(2) .fontColor-li{
	background-color: #2ECC71;
}
.fontColor:nth-child(3),.fontColor:nth-child(3) .fontColor-li{
	background-color: #33C5C5;
}
.fontColor:nth-child(4),.fontColor:nth-child(4) .fontColor-li{
	background-color: #3498DB;
}
.fontColor:nth-child(5),.fontColor:nth-child(5) .fontColor-li{
	background-color: #9B59B6;
}
.fontColor:nth-child(6),.fontColor:nth-child(6) .fontColor-li{
	background-color: #F1C40F;
}
.shuomingDiv{
	text-align: center;
}
a#shuoming{
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
/*拖放占位css类*/
.ui-state-highlight{
	width:100px;
	/*height:100px !important;*/
	/*display:block !important;*/
	/*border-radius: 50%;*/
	background: rgba(246,227,176,0.4);
}
/*媒体查询*/
@media screen and (max-width: 1360px){
	.backgroundImg{
		background-size: 1360px 1360px;
	}
}
@media screen and (max-width: 1200px){
	#addButton,#changeWallpaper,#rightBar,#updateImg{
		display: none;
	}
}