<!DOCTYPE>
<html>
<head>
<title>新标签页</title>
<meta charset="utf-8" />
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/jquery.rotate.min.js"></script>
<link rel="stylesheet" href="dist/css/index.min.css" type="text/css"/>
<script type="text/javascript">
(function browserRedirect(){
	var sUserAgent = navigator.userAgent.toLowerCase();
	var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
	var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
	var bIsMidp = sUserAgent.match(/midp/i) == "midp";
	var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
	var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
	var bIsAndroid = sUserAgent.match(/android/i) == "android";
	var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
	var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
	if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
		window.location.href = "error.html";
	}
})();

// 启动动画
$(function(){
	var a = Math.floor(Math.random()*15+1);
	var t = setInterval(function(){
		var num = Math.floor(Math.random()*10+1);
		a = a + num;
		if (document.readyState=="complete"){
			$('#loadingTitle').text('100%');
			$('#loadingWidth').css('width','100%');			
			clearInterval(t);
			setTimeout(function(){
				setTimeout(function(){
					// 标签放大动画
					$('#mainCenter').addClass('zoomed');					
				},250);
				$('#loadingBg').hide(500,function(){
					$("#loadingBg").remove();
				});
			},600);
		}
		else{
			if (a < 100){
				$('#loadingTitle').text(a+'%');
				$('#loadingWidth').css('width',a+'%');
			}
		}
	},200);
});
</script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<!-- 加载动画 -->
<div class="loading-bg centered" id="loadingBg">
	<div class="loading-main">
		<div class="loading-title centered" id="loadingTitle">0%</div>
		<div class="loading-action">
			<div class="loading-ing" id="loadingWidth"></div>
		</div>
	</div>
</div>
<!-- 背景图 -->
<div class="backgroundImg" id="backgroundImg"></div>
<!-- 右上角功能按钮 -->
<div id="addButton"></div>
<!-- 右下角小风车 -->
<div id="changeWallpaper">
	<div id="fengche" title="点击换张壁纸"></div>
	<div id="fengchegan"></div>
</div>
<!-- 左下角音乐播放器按钮 -->
<div class="music-bofangqi" id="musicButton">
	<div class="music-icon"></div>
</div>
<!-- 播放器 -->
<div class="bofangqi" id="bofangqi">
	<!-- 播放器 -->
	<audio src="http://link.hhtjim.com/163/188815.mp3" id="audio" loop="true"></audio>
	<!-- 控制面板开始 -->
	<div class="m_player" id="divplayer" role="application" onselectstart="return false" style="left: 0px;">
	    <!-- 主面板开始 -->
	    <div class="m_player_dock" id="divsongframe">
	        <div class="music_info" id="divsonginfo">
	            <a target="_blank" class="album_pic">
	            	<img src="http://p4.music.126.net/xR6L9rX4rfRHGY8op0YiFA==/105553116278623.jpg" alt="张敬轩-听说爱情回来过" />
	            </a>
	            <div class="music_info_main">
	                <p class="music_name" title="张敬轩"><span>张敬轩</span></p>
	                <p class="singer_name" title="听说爱情回来过"><span>听说爱情回来过</span></p>
	            </div>
	        </div>
	    </div>
	    <!-- 主面板结束 -->
	    <!-- 控制器开始 -->
	    <div class="bar_op">
	        <strong title="上一首( [ )" class="prev_bt"><span>上一首</span></strong>
	        <strong class="play_bt" id="btnplay"><span>播放</span></strong>
	        <strong title="下一首( ] )" class="next_bt"><span>下一首</span></strong>
	        <strong title="列表循环" class="cycle_bt" id="btnPlayway"></strong>
	        <div class="volume" title="音量调节">
	            <span class="volume_icon" id="spanmute"></span>
	            <div class="nstSlider-three" data-range_min="0" data-range_max="100"
                   data-cur_min="50"     data-cur_max="100">
				    <div class="bar-three"></div>
				    <div class="leftGrip-three"></div>
				</div>
	        </div>
	    </div>
	    <span class="active_tip" style="top:0px;display:none;"></span>
	    <span title="展开播放列表" class="open_list"><span>0</span></span>
	</div>
	<!-- 控制面板结束 -->
	<div class="bofangqi-close" id="bofangqiClose">×</div>
</div>
<!-- 左上角更新按钮 -->
<div id="updateImg" title="更新说明"></div>
<!-- 更新说明 -->
<div id="bg">
	<div id="updateDiv">
		<div id="updateDiv-top">更新说明</div>
		<span id="close">×</span>
		<div id="updateDiv-main">
			<p class="centered">2016-09-24</p>
			1、标签增加至两页20个<br />
			2、左下角增加音乐功能(由于网易云的原因，可能有时候播放不了)<br />
			<p class="centered">2016-09-02</p>
			1、优化一些不兼容情况<br />
			2、增加google搜索功能<br />
			<p class="centered">2016-08-20</p>
			1、增加启动动画，等待http请求加载完后进入主页<br />
			<p class="centered">2016-07-23</p>
			1、第一次访问弹出更新说明<br />
			2、增加标签推荐和过滤功能，angular路由、过滤器和指令实现<br />
			3、禁用右键菜单，右键点击实现修改和删除功能<br />
			4、增加修改标签修改功能<br />
			<p class="centered">2016-07-14</p>
			1、新增H5本地存储标签数据，新增或删除标签和改变标签圆角和透明度操作保存数据在本地，使得再次刷新原操作保留。
			<p class="centered">2016-07-02</p>
			1、点击小风车旋转更换背景图<br />
			2、点击右上方按钮滑出操作栏<br />
			3、自定义添加标签，输入网址、名称和选择背景颜色<br />
			4、设置图标不透明度、图标圆角度数和文字颜色<br />
			5、实现百度搜索和切换搜索内容<br />
			6、移动标签位置和删除标签<br />
			7、添加了更新说明<br />
		</div>
	</div>
</div>
<!-- 修改标签 -->
<div id="bg_change">
	<div id="change_biaoqian">
		<h1 class="centered">修改标签</h1>
		<form ng-submit="changeBiaoqian()">
			<input type="url" placeholder="网址" ng-model="change_address" autofocus required />
			<input type="text" placeholder="名称" ng-model="change_name" maxlength="6" required />
			<button type="submit">确认修改</button>
		</form>
	</div>
</div>
<!-- 主体 -->
<div id="main">
	<!-- 搜索栏 -->
	<div id="mainTop">
		<!-- 搜索选项 -->
		<div id="searchBar">
			<ul>
				<li ng-repeat='x in searchTypeList' url="{{x.type}}">{{x.title}}</li>
			</ul>
		</div>
		<!-- 搜索框 -->
		<div id="searchInput">
			<div class="lefted" id="selectSearch">
				<!-- 搜索引擎选择 -->
				<ul class="select-search">
					<div class="select-search-arrow"></div>
					<li class="select-search-li">百度</li>
					<li class="select-search-li">Google</li>
				</ul>				
			</div>
			<input type="search" id="btss" url="page" required />
			<input class="righted" type="submit" value="" />
		</div>
	</div>
	<!-- 主体中标签 -->
	<div id="mainCenter">
		<ul class="infinity">
			<infinity-li></infinity-li>
		</ul>
	</div>
	<!-- 主体末点 -->
	<div id="mainBottom">
		<ul id="num">
			<li class="on"></li>
		</ul>
	</div>
</div>
<!-- 侧边栏 -->
<div id="rightBar">
	<div id="rightBarTop">
		<span class="select-one borderBottom">添加项目</span>
		<span class="select-two">设置</span>
	</div>
	<div id="rightBarBottom">
		<!-- 添加项目 -->
		<div id="xiangmu">
			<div id="xiangmuBar">
				<span class="lefted greenColor">推荐</span>
				<span class="righted">自定义</span>
			</div>
			<div id="xiangmuMain">
				<!-- 推荐 -->
				<div id="xiangmuMain-tj">
					<div class="sousuo">
						<input type="text" placeholder="搜索项目" maxlength="10" ng-model="searchString" />
					</div>
					<div class="main">
						<div class="leftBar">
							<ul>
								<a ng-repeat='x in routeHashList' href="{{x.href}}"><li>{{x.title}}</li></a>
							</ul>
						</div>
						<div class="rightBar" ng-view></div>
					</div>
				</div>
				<!-- 自定义 -->
				<div id="xiangmuMain-zdy">
					<form ng-submit="addBiaoqian()">
						<input type="url" id="address" placeholder="网址" ng-model="address" autofocus required />
						<input type="text" id="name" placeholder="名称" ng-model="name" maxlength="6" required />
						<div id="yulan-back"></div>
						<p class="centered">选择颜色</p>
						<div id="select-color">
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>							
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>							
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>							
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>							
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>							
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>							
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>							
							<div class="icobgColor">
								<div class="icobgColor-zhong">
									<div class="icobgColor-li"></div>
								</div>
							</div>
						</div>
						<button id="buttonTianjia" type="submit">添加项目</button>
					</form>
				</div>
			</div>
		</div>
		<!-- 设置 -->
		<div id="setting">
			<div id="settingBar">
				<span class="centered greenColor">常规</span>
			</div>
			<div id="settingMain">
				<div id="tbbtmd">
					<div style="height: 29px;">
						<span class="lefted">图标不透明度</span><span class="righted leftLabel-one"></span>
					</div>
					<div class="nstSlider-one" data-range_min="0" data-range_max="100" data-cur_min data-cur_max="0">
					    <div class="bar-one"></div>
					    <div class="leftGrip-one"></div>
					</div>
				</div>
				<div id="tbyjds">
					<div style="height: 29px;">
						<span class="lefted">图标圆角度数</span><span class="righted leftLabel-two"></span>
					</div>
					<div class="nstSlider-two" data-range_min="0" data-range_max="100" data-cur_min data-cur_max="0">
					    <div class="bar-two"></div>
					    <div class="leftGrip-two"></div>
					</div>					
				</div>
				<div id="ztys">
					<span class="centered">字体颜色</span>
					<div class="select-fontColor">
						<div ng-repeat="x in fontColorList" class="fontColor">
							<div class="fontColor-zhong">
								<div class="fontColor-li"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/index.js"></script>
</body>

</html>